apiVersion: v1
kind: Service
metadata:
  name: backend
  labels:
    app: smartmix-backend
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
  selector:
    app: smartmix-backend
