apiVersion: v1
kind: Service
metadata:
  name: nginx
  labels:
    app: smartmix-nginx
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
  selector:
    app: smartmix-nginx
