apiVersion: v1
kind: Service
metadata:
  name: web
  labels:
    app: smartmix-web
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
  selector:
    app: smartmix-web
